/*!

=========================================================
* Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/
/*     brand Colors              */
/* navbar color */
:root {
--blue: #5e72e4;
--indigo: #5603ad;
--purple: #8965e0;
--pink: #f3a4b5;
--red: #f5365c;
--orange: #fb6340;
--yellow: #ffd600;
--green: #2dce89;
--teal: #11cdef;
--cyan: #2bffc6;
--white: #ffffff;
--gray: #6c757d;
--gray-dark: #32325d;
--light: #ced4da;
--lighter: #e9ecef;
--primary: #e14eca;
--secondary: #f4f5f7;
--success: #00f2c3;
--info: #1d8cf8;
--warning: #ff8d72;
--danger: #fd5d93;
--light: #adb5bd;
--dark: #212529;
--default: #344675;
--white: #ffffff;
--neutral: #ffffff;
--darker: black;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

.chart1{
    align-items: center;
    height: 105%;
    width: 84%;   
}

html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(34, 42, 66, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
display: block;
}

body {
margin: 0;
font-family: "Poppins", sans-serif;
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5;
color: #525f7f;
text-align: left;
background-color: #1e1e2f;
}

[tabindex="-1"]:focus {
outline: 0 !important;
}

hr {
box-sizing: content-box;
height: 0;
overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0.5rem;
}

p {
margin-top: 0;
margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
text-decoration: underline;
text-decoration: underline dotted;
cursor: help;
border-bottom: 0;
text-decoration-skip-ink: none;
}

address {
margin-bottom: 1rem;
font-style: normal;
line-height: inherit;
}

ol,
ul,
dl {
margin-top: 0;
margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
margin-bottom: 0;
}

dt {
font-weight: 600;
}

dd {
margin-bottom: .5rem;
margin-left: 0;
}

blockquote {
margin: 0 0 1rem;
}

b,
strong {
font-weight: bolder;
}

small {
font-size: 80%;
}

sub,
sup {
position: relative;
font-size: 75%;
line-height: 0;
vertical-align: baseline;
}

sub {
bottom: -.25em;
}

sup {
top: -.5em;
}

a {
color: #e14eca;
text-decoration: none;
background-color: transparent;
}

a:hover {
color: #c221a9;
text-decoration: none;
}

a:not([href]):not([tabindex]) {
color: inherit;
text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
color: inherit;
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
margin-bottom: 0.5rem;
font-family: inherit;
font-weight: 400;
line-height: 1.2;
color: #32325d;
}

h4,
.h4 {
font-size: 1.0625rem;
}

h5,
.h5 {
font-size: 0.8125rem;
}

.card-body {
flex: 1 1 auto;
width: 1200px; /*width card-body*/
padding: 10px;
}

.card-header {
padding: 1.25rem 1.5rem;
margin-bottom: 0;
background-color: #f6f9fc;
border-bottom: 0.0625rem solid rgba(34, 42, 66, 0.05);
}

.btn,
.navbar .navbar-nav>a.btn {
border-width: 2px;
border: none;
position: relative;
overflow: hidden;
margin: 4px 1px;
border-radius: 0.4285rem;
cursor: pointer;
background: #344675;
background-image: -webkit-linear-gradient(to bottom left, #344675, #263148, #344675);
background-image: -o-linear-gradient(to bottom left, #344675, #263148, #344675);
background-image: -moz-linear-gradient(to bottom left, #344675, #263148, #344675);
background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
background-size: 210% 210%;
background-position: top right;
background-color: #344675;
transition: all 0.15s ease;
box-shadow: none;
color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover {
background-color: #ba54f5 !important;
background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca) !important;
background-image: -webkit-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca) !important;
background-image: -o-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca) !important;
background-image: -moz-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca) !important;
color: #ffffff;
box-shadow: none;
}


.btn-primary.btn-simple {
color: #e14eca;
border-color: #e14eca;
background: transparent;
}

.btn-primary.btn-simple:hover,
.btn-primary.btn-simple:focus,
.btn-primary.btn-simple:active,
.btn-primary.btn-simple:not(:disabled):not(.disabled):active {
color: #e14eca;
border-color: #e14eca;
background-color: transparent !important;
background-image: none !important;
box-shadow: none;
}




.btn-simple {
border: 1px solid;
border-color: #344675;
box-shadow: none;
padding: 10px 22px;
background-color: transparent;
}

.btn-sm.btn-simple,
.btn-group-sm>.btn-simple.btn {
padding: 4px 14px;
}

.card .card-header:not([data-background-color]) {
background-color: transparent;
}

.card .card-header .card-title {
color: #ffffff;
font-weight: 100;
}

.card .card-header .card-category {
color: #9A9A9A;
margin-bottom: 5px;
font-weight: 300;
}

.card label {
font-size: 0.75rem;
margin-bottom: 5px;
}


.card-chart .chart-area {
height: 220px;
width: 100%;
}

.card {
    background: #27293d;
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}


.btn-primary.btn-simple.active {
    border-color: #e14eca !important;
}

.btn:not([data-action]):hover,
.navbar .navbar-nav>a.btn:not([data-action]):hover {
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
transform: translateY(-1px);
-webkit-transform: translateY(-1px);
}