<div class="container" style="margin-left: 0px !important;padding: 0px !important;" >    
    <div class="row">
        <div class="col-12 table-full-width table-responsive">
            <form #f="ngForm" [formGroup]="RegisterForm" (ngSubmit)="Feedback(f)">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Add Registrer</h5>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 form-group">
                                <label>Value</label>
                                <input class="form-control" formControlName="Value" name='Value' id="ValueInput"  placeholder="R$" type="text">
                            </div>
                            <div class="col-3 form-group">
                                <label for="sel1">Transfer Type:</label>
                                <select formControlName="Type" class="form-control" id="TransferType" name="Type">
                                    <option value="0">Receive</option>
                                    <option value="1" selected="selected">Pay</option>
                                </select>
                            </div>
                            <div class="col-4 form-group">
                                <label>Receiver</label>
                                <input formControlName="Receiver" type="text" class="form-control" name='Receiver' id="Receiver" placeholder="Name"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 form-group">
                                <label>Description</label>
                                <input type="text" formControlName="Description" class="form-control" name='Description' id="Decription" placeholder="Notes"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Date</label>
                                <input class="form-control" formControlName="Data" name='Date' id="Date"  type="date"/>
                            </div>
                            <div class="col-12">
                                <button mat-raised-button type="submit"  color="accent">Accent</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container" style="margin-left: 0px !important;padding: 0px !important;">
  <div class="row">
    <div class="col-6">
        <div class="card" style="padding: 10px;">
            <div class="card-header ">
                <h4 class="card-title">Records</h4>
            </div>
            <mat-divider></mat-divider>
            <div class="card-body">
                <div class="row" id="TabelaReg" style="color: 'white';">
                <div class="col-3">
                    Receiver
                </div>
                <div class="col-3">
                    Tipo
                </div>
                <div class="col-3">
                    Valor
                </div>
                <div class="col-3">
                    Data
                </div>
            </div>
            <div class="row">
                <ng-container class="col-12" *ngFor="let item of Dados;">
                    <div class="col-3" id="TabelaRegistros" *ngIf="item != 'Pay' && item != 'Receive'" style="margin-top: 15px;">
                        {{item}}
                    </div>
                    <div class="col-3" id="TabelaRegistros" *ngIf="item == 'Pay'" style="margin-top: 15px;color: red;">
                        <span class="material-icons">remove</span>
                    </div>
                    <div class="col-3" id="TabelaRegistros" *ngIf="item == 'Receive'" style="margin-top: 15px;color: Green;">
                        <span class="material-icons"> add </span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
  </div>
</div>
